/*column*/
.col2 {
  -webkit-column-count: 2;
  column-count: 2;
}


/*car factor*/
.hori-list li {
  float: left;
  list-style: none;
  margin: 8px 0;
  width: 50%;
}

.reveal .factor_group {
  padding: 80px 20px 10px;
  box-sizing: border-box;
  margin-left: 0;
  border: 1px solid #000;
  float: left;
  height: 400px;
  list-style: none;
  position: relative;
  width: 400px;  
}
.reveal .factor_group_container {
  margin: 0 auto;
  overflow: hidden;
  width: 800px;
}
.reveal .small-version .factor_group {
  height: 300px;
  width: 300px;
}
.reveal .small-version {
  width: 600px;
}
.reveal .right_align {
  text-align: right;
}
.reveal .top_align {
  padding: 20px 20px 30px;
}
.reveal .lots_of_text .factor_group {
  border-radius: 0;
  height: 400px;
  padding-top: 30px;
  width: 400px;
}
.reveal .lots_of_text .factor_group li {
  line-height: 1.1em;
  font-size: 0.8em;
}
.reveal .factor_group .factor_title {
  color: #FFF;
  position: absolute;
}
.reveal .factor_group img {
  position: absolute;
  width: 60%;
}
.reveal .factor_group strong {
  padding-left: 16px;
}
.group_a {
  background-color: blue;
  border-top-left-radius: 101%;
  color: #FFF;
}
.group_a .factor_title {
  left: 0;
  top: 0;
}
.group_a img {
  right: 5px;
  bottom: -10px
}
.group_b {
  background-color: green;
  border-bottom-left-radius: 100%;
  color: #FFF;
}
.group_b .factor_title {
  bottom: 0;
  left: 0;
}
.group_b img {
  right: 5px;
  top: 5px
}
.group_c {
  background-color: red;
  border-bottom-right-radius: 100%;
  color: #FFF;
}
.group_c .factor_title {
  bottom: 0;
  right: 0;
}
.group_c img {
  left: 5px;
  top: 5px
}
.group_d {
  background-color: yellow;
  border-top-right-radius: 100%;
  color: #000;
}
.group_d .factor_title {
  right: 0;
  top: 0;
}
.group_d img {
  left: 5px;
  bottom: -10px
}